# Generic settings
X CONFIG_FEATURE_DEVPTS
X CONFIG_LFS

X CONFIG_START_STOP_DAEMON

# Nicer interativity
#
X CONFIG_SHOW_USAGE
X CONFIG_FEATURE_EDITING
X CONFIG_FEATURE_TAB_COMPLETION
X CONFIG_FEATURE_EDITING_FANCY_PROMPT

# Network support
#
X CONFIG_APP_UDHCPC

# core commands
#
X CONFIG_FEATURE_FANCY_ECHO
X CONFIG_FEATURE_LS_USERNAME
X CONFIG_FEATURE_LS_TIMESTAMPS

# vi options
#
X CONFIG_VI
X CONFIG_FEATURE_VI_MAX_LEN 1024
X CONFIG_FEATURE_VI_8BIT
X CONFIG_FEATURE_VI_COLON
X CONFIG_FEATURE_VI_YANKMARK
X CONFIG_FEATURE_VI_SEARCH
X CONFIG_FEATURE_VI_WIN_RESIZE
X CONFIG_FEATURE_VI_SET
X CONFIG_FEATURE_VI_OPTIMIZE_CURSOR

# nicer console
#
X CONFIG_CLEAR
X CONFIG_RESET
