# Generic settings
X CONFIG_FEATURE_DEVPTS
X CONFIG_LFS
X CONFIG_DEBUG
X CONFIG_START_STOP_DAEMON

# Nicer interativity
#
X CONFIG_SHOW_USAGE
X CONFIG_FEATURE_EDITING
X CONFIG_FEATURE_TAB_COMPLETION
X CONFIG_FEATURE_EDITING_FANCY_PROMPT

# Network support
#
X CONFIG_APP_UDHCPC

# Core commands
#
X CONFIG_FEATURE_FANCY_ECHO
X CONFIG_FEATURE_LS_USERNAME
X CONFIG_FEATURE_LS_TIMESTAMPS

# Vi options
#
X CONFIG_VI
X CONFIG_FEATURE_VI_MAX_LEN 1024
X CONFIG_FEATURE_VI_8BIT
X CONFIG_FEATURE_VI_COLON
X CONFIG_FEATURE_VI_YANKMARK
X CONFIG_FEATURE_VI_SEARCH
X CONFIG_FEATURE_VI_WIN_RESIZE
X CONFIG_FEATURE_VI_SET
X CONFIG_FEATURE_VI_OPTIMIZE_CURSOR

# Nicer console
#
X CONFIG_CLEAR
X CONFIG_RESET

# Disk utils
#
X CONFIG_FDISK
X CONFIG_FEATURE_FDISK_WRITABLE
X CONFIG_FDISK_SUPPORT_LARGE_DISKS
X CONFIG_MKSWAP
X CONFIG_SWAPONOFF
X CONFIG_SYNC

# Processes
X CONFIG_PS

# Mess
X CONFIG_HWCLOCK
X CONFIG_SWITCH_ROOT
X CONFIG_TOUCH
X CONFIG_LESS
X CONFIG_TAC
X CONFIG_FEATURE_MOUNT_NFS

X CONFIG_PING
X CONFIG_TOP
X CONFIG_UPTIME
X CONFIG_HOSTNAME

# Archiving
X CONFIG_BUNZIP2
X CONFIG_BZIP2
