# Generic settings
X CONFIG_FEATURE_DEVPTS
X CONFIG_LFS

# Kernel (linux 2.6) related
#
X CONFIG_DMESG
X CONFIG_LSMOD
X CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT
X CONFIG_MODPROBE
X CONFIG_INSMOD
X CONFIG_RMMOD
O CONFIG_FEATURE_2_4_MODULES
X CONFIG_FEATURE_2_6_MODULES

# Nicer interativity
#
X CONFIG_SHOW_USAGE
X CONFIG_FEATURE_EDITING
X CONFIG_FEATURE_TAB_COMPLETION
X CONFIG_FEATURE_EDITING_FANCY_PROMPT

# Network support
#
X CONFIG_IP
X CONFIG_FEATURE_IP_ADDRESS
X CONFIG_FEATURE_IP_LINK
X CONFIG_FEATURE_IP_ROUTE
X CONFIG_APP_UDHCPC

# mount/umount
#
X CONFIG_MOUNT
X CONFIG_FEATURE_MOUNT_FLAGS
O CONFIG_FEATURE_MOUNT_FSTAB
X CONFIG_UMOUNT
X CONFIG_FEATURE_UMOUNT_ALL

# core commands
#
X CONFIG_FEATURE_FANCY_ECHO
X CONFIG_FEATURE_LS_USERNAME
X CONFIG_FEATURE_LS_TIMESTAMPS
